<div class='rootContainer'>
  <div class="row">
    <div class="col-12">
      <h1>About Us</h1>
      <p>
        My name is Mike Kelly, the inventor of the Mantis Mirror System.
        I am as passionate about bike riding now as I was when I got my first bike as a kid.
        Cycling keeps me healthy, helps clear my mind, let's me see so much of the great outdoors everytime I clip in.
        My bikes range from road; mountain; to commuter and I bike almost anywhere, as long as there’s no snow on the ground.
        I actually sold my car to allow (force) me to bike more often.
      </p>
      <p>
        I created the Mantis Mirror System because I want my family, friends and every recreational cycling enthusiast, to feel safe
        by having a greater sense for their surroundings everytime they are on their bike.
      </p>
      <p>
        With an extensive background in sales and marketing, in addition to prior experience bringing a new product from the “Napkin to the Shelf”, I bring a lot to the table.
      </p>
      <img src="/assets/img/BKKingston2003.jpg" />
    </div>
  </div>
</div>
<div class="container mt-4">
  <app-solution-button></app-solution-button>
</div>
