<div class='rootContainer'>
  <div class="row">
    <div class="col-12">
      <h1>About Us</h1>
      <p>
        My name is Mike Kelly, the inventor of the Mantis Mirror System.
        I’ve been passionate about bike riding, ever since being a kid – now a senior citizen, that passion is just as strong.
        My bikes range from road; mountain; to commuter and I bike almost anywhere, as long as there’s no snow on the ground.
        I actually sold my car to allow (force) me to bike more often.
      </p>
      <p>
        The problem, is that biking in general has become less safe, due to things like increased road traffic and of course, Distracted Driving!
        No matter how good a bike rider one is , when you don’t know what’s behind you, it can be an accident waiting to happen. Knowing what is approaching you is key to safer bike riding.
      </p>
      <p>
        With an extensive background in sales and marketing, in addition to prior experience bringing a new product from the “Napkin to the Shelf”, I bring a lot to the table.
      </p>
      <img src="/assets/img/BKKingston2003.jpg" />
    </div>
  </div>
</div>
