img {
  max-width: 1000px;
}

.landingImage {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: black;
  width: 80%;
}

.bikeAccident {
  width: 100%;
}

.avoidThisContainer {
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.avoidThis {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 5px;
}
