<section>
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12 text-center">
        <img src="/assets/img/mantis-mirror.jpg" />
      </div>
    </div>
  </div>
  <div class="rootContainer">
    <div class="row">
      <div class="d-flex flex-column justify-content-center text-center">
        <h1>The Mantis Mirror System</h1>
        <p>
          Nearly 400,000 preventable bicycle accidents occur every year, with many of them being caused from rear approaching vehicles.
          Sadly, bike riding fatalities have steadily been rising over the last decade, with nearly 1,300 deaths occurring during 2020,
          in the U.S. alone. Bicycle deaths accounted for 2% of all motor-vehicle traffic fatalities (National Safety Council 2022)
        </p>
        <p>
          With the increasing problem of Distracted Driving, it has become even more important for riders to know what’s approaching from behind.
          Although the traditional bicycle mirror can help, it has many limitations – so many, that many bike riders have simply given up on using a mirror.
          One major limitation of existing bike mirrors, are their inability to allow the rider to see from any position on the bike, unless the mirror is readjusted while riding – a very DANGEROUS THING TO DO!
        </p>
        <p>
          As for trying to look over your shoulder; or under your arm, these are not good solutions as it offers limited information to the rider; takes more energy to do so; can affect your cadence; let alone, turning around can negatively affect a riders balance.
          The science and stats are there to substantiate these problems, so there has to be a better solution!
        </p>
      </div>
    </div>

    <div class="row">
      <div class="d-flex flex-column justify-content-center text-center">
        <h1>The Solution</h1>
        <p>
          Imagine a snap on helmet mirror that addresses all of the limitations existing bike mirrors have, such as: Vibration; A multitude of adjustments to suit all riders; An easy snap on/ snap off format;
          A novel marking system which allows for quick reconfiguring if required on a new ride; AND; The ability to see from any position on the bike a rider might have. e.g.,
          from standing to more aero dynamic positions – all without having to readjust the previous set mirror system! Post both the ”full” video (https://youtu.be/Q5ixT0NUhtg) and the “short” video presentation (https://youtu.be/u-Fv4qYQiMY) AND, the sell sheet pdf.
        </p>
        <p>
          This patent pending system is currently in advanced proto-type stages now, with Beta testing underway, yielding very positive results!
          Biking needs to be made safer for bicyclists everywhere and the Mantis Mirror System can help do that!
        </p>
        <div class="d-flex justify-content-center">
          <a mat-raised-button color="primary" class="me-2" href="https://youtu.be/Q5ixT0NUhtg">Full Video</a>
          <a mat-raised-button color="primary" href="https://youtu.be/u-Fv4qYQiMY">Short Video</a>
        </div>
      </div>
    </div>
  </div>

</section>
