<div class='rootContainer'>
  <div class="row">
    <div class="col-12">
      <h1>Testimonials</h1>
      <mat-accordion togglePosition="before">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Testimonial 1
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="me-2" href="https://youtu.be/RQIW0SsKrfI" target="_blank"><img class="linkPreview" src="/assets/img/testimonial1-screenshot.jpg"/></a>
          <a href="https://youtu.be/RQIW0SsKrfI" target="_blank">https://youtu.be/RQIW0SsKrfI</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Testimonial 2
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="me-2" href="https://youtu.be/X071xX4JU2E" target="_blank"><img class="linkPreview" src="/assets/img/testimonial2-screenshot.jpg"/></a>
          <a href="https://youtu.be/X071xX4JU2E"  target="_blank">https://youtu.be/X071xX4JU2E</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Mantis Mirror Field Trial
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a class="me-2" href="https://youtu.be/Nwjy5t5fwuE" target="_blank"><img class="linkPreview" src="/assets/img/testimonial3-screenshot.jpg"/></a>
          <a href="https://youtu.be/Nwjy5t5fwuE"  target="_blank">https://youtu.be/Nwjy5t5fwuE</a>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="mt-4">
    <app-solution-button></app-solution-button>
  </div>
</div>
