<div class='rootContainer'>
  <div class="row">
    <div class="col-12">
      <h1>Testimonials</h1>
      <mat-accordion togglePosition="before">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Testimonial 1
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a href="https://youtu.be/RQIW0SsKrfI" target="_blank">https://youtu.be/RQIW0SsKrfI</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Testimonial 2
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a href="https://youtu.be/RQIW0SsKrfI"  target="_blank">https://youtu.be/RQIW0SsKrfI</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Testimonial 2
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a href="https://youtu.be/RQIW0SsKrfI"  target="_blank">https://youtu.be/RQIW0SsKrfI</a>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="mt-4">
    <app-solution-button></app-solution-button>
  </div>
</div>
