<div class="rootContainer">
  <div class="row">
    <div class="col-md-12">
      <h3>Frequently Asked Questions</h3>
      <mat-accordion>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Will the Mantis Mirror System block my forward vision?
            </mat-panel-title>
          </mat-expansion-panel-header>
          The Mantis Mirror System is not positioned directly in front of your eyes, rather it is
          angled off to the side. Thus there is no blocking of forward vision.
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do I install the Mantis Mirror System?
            </mat-panel-title>
          </mat-expansion-panel-header>
          The Mantis Mirror System is installed by first attaching a small mounting piece to your bicycle helmet by way of a
          special adhesive tape. Once installed the Mantis Mirror System quickly snaps on (or off) to the previously mounted adapter piece.
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Will the Mantis Mirror System mount onto my bike helmet?
            </mat-panel-title>
          </mat-expansion-panel-header>
          The Mantis Mirror System will attach to virtually any type of bike helmet.
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>

</div>
