<div class="rootContainer">
  <div class="row">
    <div class="col-md-12">
      <h3>Frequently Asked Questions</h3>
      <mat-accordion togglePosition="before">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Why Mantis Mirror System vs other bicycle mirrors?
            </mat-panel-title>
          </mat-expansion-panel-header>
          The Mantis Mirror System differs greatly from all other currently available bicycle mirrors, in that it allows the rider to view rear approaching objects, from any position the rider assumes,
          without having to readjust the mirrors once initially setup – this increases safety, comfort and overall convenience while riding. The Mantis Mirror System provides for a solid attachment
          to the helmet, thus greatly reducing any possible road vibration induced issues. It is also easily removable; has a multitude of angular/ height adjustments for the riders; offers two front
          reflectors to allow on coming traffic to see you better; has a novel marking system to allow the rider to more quickly set the system up on future rides; has a “walking” mode which allows
          the system to be quickly raised up (eliminating the problem of the mirrors making contact with anything around you when off your bike).
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Will the Mantis Mirror System block my forward vision?
            </mat-panel-title>
          </mat-expansion-panel-header>
          The Mantis Mirror System is not positioned directly in front of your eyes, rather it is
          angled off to the side. Thus there is no blocking of forward vision.
          <button *ngIf="!imageVisible" (click)="imageVisible = !imageVisible" mat-button class="mantis">Click Here To See</button>
          <img class="mantis" *ngIf="imageVisible" src="/assets/img/mantis-vision-intersection.jpeg" />
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do I install the Mantis Mirror System?
            </mat-panel-title>
          </mat-expansion-panel-header>
          The Mantis Mirror System is installed by first attaching a small mounting piece to your bicycle helmet by way of a
          special adhesive tape. Once installed the Mantis Mirror System quickly snaps on (or off) to the previously mounted adapter piece.
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Will the Mantis Mirror System mount onto my bike helmet?
            </mat-panel-title>
          </mat-expansion-panel-header>
          The Mantis Mirror System will attach to virtually any type of bike helmet.
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
  <div class="container mt-4">
    <app-solution-button></app-solution-button>
  </div>
</div>
