<div class="rootContainer">
  <div class="row">
    <div class="col-12">
      <h1>The Solution</h1>
      <p>
        Imagine a snap on helmet mirror that addresses all of the limitations existing bike mirrors have, such as: Vibration; A multitude of adjustments to suit all riders; An easy snap on/ snap off format;
        A novel marking system which allows for quick reconfiguring if required on a new ride; AND; The ability to see from any position on the bike, a rider might assume e.g.,
        from standing to more aero dynamic positions – all without having to readjust the Mantis Mirror System!
      </p>
      <p>
        This patent pending system is currently in advanced proto-type stages now, with Beta testing underway, yielding very positive results!
        Biking needs to be made safer for bicyclists everywhere and the Mantis Mirror System can help do that!
      </p>
      <div class="d-flex justify-content-center">
        <a mat-raised-button color="primary" target="_blank" class="me-2" href="https://youtu.be/uGx86XEX1Yo">Mantis Mirror Product Video</a>
      </div>
    </div>
  </div>

  <div class="landingImage container-fluid px-0">
    <div class="row">
      <div class="col-12 text-center">
        <img src="/assets/img/mantis-mirror.png" />
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h4>
        We are now seeking partners to help bring the Mantis Mirror System to market.
      </h4>
      <a mat-raised-button color="primary" [routerLink]="'/' + appRoutes.Contact" class="me-2">Contact Us Today</a>

    </div>
  </div>
</div>
